<%= form_with(model: workout, class: "contents") do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul class="list-disc ml-6">
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :workout_type %>
    <%= form.text_field :workout_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": workout.errors[:workout_type].none?, "border-red-400 focus:outline-red-600": workout.errors[:workout_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": workout.errors[:duration].none?, "border-red-400 focus:outline-red-600": workout.errors[:duration].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :reps %>
    <%= form.number_field :reps, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": workout.errors[:reps].none?, "border-red-400 focus:outline-red-600": workout.errors[:reps].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :notes %>
    <%= form.text_area :notes, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": workout.errors[:notes].none?, "border-red-400 focus:outline-red-600": workout.errors[:notes].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.date_field :date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": workout.errors[:date].none?, "border-red-400 focus:outline-red-600": workout.errors[:date].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
