<div id="<%= dom_id workout %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Workout type:</strong>
    <%= workout.workout_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= workout.duration %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Reps:</strong>
    <%= workout.reps %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= workout.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= workout.date %>
  </div>
</div>
